#container { 
	width: 400px; margin:  0 auto; 
}

#formHeader {
	background-color: green;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

#wrapper {
	width: 700px;
	margin: 0 auto;
}
h1 {
	color: white;
	font-style: italic;
	text-align: center;
}
#list {border: 2px solid green;}

span {margin: 0 10px; padding: 5px;}

p {
	list-style: none;
	margin: 5px 10px;
	padding: 5px;
	width: 85%;
	font-family: verdana;
	font-size: 14px;
	font-weight: bold;
	border-bottom: 1px dashed gray;
}

#item {
	margin: 20px;
	padding:  5px;
	font-size: 20px;	
}

