
body {
	padding:  50px;
}


#checkbox {margin-right: 10px; }
span {margin: 0 10px; padding: 5px;}

#container { 
	width: 400px; margin:  0 auto; 
}

#shoppingForm { width: 400px; margin: 0 auto;}

#formHeader {
	background-color: #37cb43;
}

#wrapper {
	width: 675px;
	margin: 0 auto;
}
h1 {
	color: white;
	font-style: italic;
	text-align: center;
}
#item {font-size: 20px;}
}
	
#add #delete {
	margin: 5px; 
	padding: 10px; 
	font-family: verdana; 
	font-size: 25px;
}

p {
	list-style: none;
	margin: 5px 10px;
	padding: 5px;
	width: 85%;
	font-family: verdana;
	font-size: 14px;
	font-weight: bold;
	border-bottom: 1px dashed gray;
}
#list {padding: 5px;}
/*.strike { text-decoration: line-through;}*/
#item {
	margin: 20px;
	padding:  5px;	
}

